.compos {
  @include fill-parent();
  @include clearfix();
  margin-top: $line-height-computed * 2;
  margin-bottom: $line-height-computed;
  h2 {
    margin-top: 0;
  }
  &__compo {
    // manual float and width to remove gutter
    display: block;
    @include pad();
    font-size: 0.8rem;
    min-height: 230px;
    text-align: center;
    background: $rgba-primary-1;
    @media screen and (min-width: $screen-sm-min) {
      float: left;
      width: percentage(1/2);
    }
    @media screen and (min-width: $screen-md-min) {
      width: percentage(1/3);
    }
    &:nth-child(4n) {
      background: $rgba-secondary-2-1;
    }
    &:nth-child(4n + 1) {
      background: $rgba-secondary-1-1;
    }
    &:nth-child(4n + 2) {
      background: $rgba-secondary-2-1;
    }
    &:nth-child(4n + 3) {
      background: $rgba-primary-1;
    }
  }
  &__heading {
    font-size: 1.3rem;
  }
}
