.compos {
  @include fill-parent();
  @include clearfix();
  margin-top: $line-height-computed * 2;
  margin-bottom: $line-height-computed;
  &__compo {
    // manual float and width to remove gutter
    float: left;
    display: block;
    width: percentage(1/4);
    @include pad();
    font-size: 0.8rem;
    min-height: 230px;
    text-align: center;
    background: $rgba-primary-1;
    &:nth-child(3n) {
      background: $rgba-secondary-2-1;
    }
    &:nth-child(3n + 1) {
      background: $rgba-secondary-1-1;
    }
  }
  &__heading {
    font-size: 1.3rem;
  }
}
