.site-footer {
  background: $dark-gray;
  color: $white;
  padding: $line-height-computed * 2 0;
  font-size: 0.7rem;
  h1,h2,h3,h4,h5,h6 {
    color: inherit;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: darken($white, 10%);
    }
  }
  &__container {
    @include outer-container;
    max-width: 960px;
  }
  &__copyright {
    @media screen and (min-width: $screen-md-min) {
      @include span-columns(1 of 3);
     text-align: right;
    }
    @include pad();
    text-transform: uppercase;
  }
  &__contact {
    @media screen and (min-width: $screen-md-min) {
      @include span-columns(1 of 3);
    }
    @include pad();
    h4 {
      margin-top: 0;
    }
  }
  &__logo {
    @media screen and (min-width: $screen-md-min) {
      @include span-columns(1 of 3);
    }
    @include pad();
    img {
      width: 266.7px * 0.6;
      height: 86.8px * 0.6;
    }
  }
}
