.site-footer {
  background: $dark-gray;
  color: $white;
  padding: $line-height-computed * 2 0;
  font-size: 0.7rem;
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    color: inherit;
  }
  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: darken($white, 10%);
    }
  }
  &__container {
    @include outer-container;
    max-width: 960px;
  }
  &__copyright {
    @include span-columns(1 of 3);
    //font-family: $font-family-headings;
    text-transform: uppercase;
    text-align: right;
  }
  &__contact {
    @include span-columns(1 of 3);
  }
  &__logo {
    @include span-columns(1 of 3);
    img {
      width: 266.7px * 0.6;
      height: 86.8px * 0.6;
    }
  }
}
