@import "hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  &:focus {
    outline: none;
  }
  .scroll-top .not-visible & {
    .hamburger-box {
      .hamburger-inner {
        background-color: $white;
        &:before, &:after {
          background-color: $white;
        }
      }
    }
  }
  @media screen and (min-width: $navbar-breakpoint) {
    display: none;
  }
}

.navbar {
  $logoWidth: 200px + $grid-gutter;
  display: block;
  text-align: center;
  font-family: $navbar-font-family;
  width: 100%;
  vertical-align: middle;
  height: $header-height;
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: $navbar-font-size;
    vertical-align: middle;
    li {
      display: inline-block;
      vertical-align: middle;
      a {
        padding: $navbar-vertical-padding $navbar-horizontal-padding;
        display: block;
        color: $navbar-link-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 250ms ease-in-out;
        &:after {
          content: " ";
          position: relative;
          display: block;
          margin: 0 auto;
          height: 0;
          width: 0;
          border-bottom: 3px solid $navbar-link-color;
          transition: width 150ms ease-in-out;
        }
        &:hover, &.active {
          color: $navbar-link-color;
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  .logo {
    display: inline-block;
    width: $logoWidth;
    vertical-align: middle;
    padding: (($header-height - (87px * 0.6)) / 2) 0;
    svg {
      width: 267px * 0.6;
      height: 87px * 0.6;
      fill: $navbar-link-color;
      transition: fill 250ms ease-in-out;
    }
  }
  .scroll-top .not-visible & {
    ul li a {
      color: $white;
      &:after {
        border-bottom-color: $white;
      }
      &:hover, &.active {
        color: $white;
      }
    }
    .logo svg {
      fill: $white;
    }
  }
  @media screen and (max-width: $navbar-breakpoint) {
    height: 100%;
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 2;
      .is-visible & {
        transition: fill 250ms ease-in-out 250ms;
      }
    }
    ul {
      &:first-child {
        margin-top: calc(50vh - 105px);
      }
      display: block;
      top: $header-height;
      li {
        display: block;
        a {
          padding: 0;
          display: inline-block;
        }
      }
    }
  }
}

// fix centering
@media screen and (min-width: $navbar-breakpoint) {
  .navbar .navbar-left {
    margin-left: 66px;
  }
}
