.pattern {
  position: relative;
  background: transparent url('../images/diagonal.svg') bottom center repeat-x;
  height: 15px;
  transform: translateY(50%);
  z-index: 2;
  animation: 5s linear 0s infinite patternSlide;
}

.pattern-bottom {
  @extend .pattern;
  transform: translateY(-50%);
  animation: 5s linear 0s infinite reverse patternSlide;
}


@keyframes patternSlide {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 225px/(50/15); // magic numbers
  }
}
