$time-width: 60px;
.schedule {
  @include clearfix;
  margin: $line-height-computed * 2 0;
  &__day {
    display: block;
    background: $rgba-primary-1;
    @include pad();
    @media screen and (min-width: $screen-md-min) {
      float: left;
      width: percentage(1/3);
      min-height: 460px;
    }
    &:nth-child(3n) {
      background: $rgba-secondary-2-1;
    }
    &:nth-child(3n + 1) {
      background: $rgba-secondary-1-1;
    }
    h2 {
      margin-top: 0;
      text-align: center;
    }
    dl {
      list-style: none;
      dt {
        width: $time-width;
        float: left;
        font-weight: 600;
      }
      dd {
        display: block;
        margin: 0 0 $line-height-computed / 2 $time-width;
      }
    }
  }
}
