@import '../config/variables';

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

